<%- include('./partials/header') %>

<h1>Welcome to the Tacos and Piroshkis Page!</h1>

<img id="taco-photo" src="https://c1.staticflickr.com/6/5531/9055162205_8130f056fb_b.jpg" alt="tacos">
<img id="piroshkis-photo" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Puff_pastry_pies_%D0%9F%D0%B8%D1%80%D0%BE%D0%B6%D0%BA%D0%B8_%D0%B8%D0%B7_%D1%81%D0%BB%D0%BE%D0%B5%D0%BD%D0%BE%D0%B3%D0%BE_%D1%82%D0%B5%D1%81%D1%82%D0%B0_%28e-citizen_Az%29.jpg" alt="">

<%- include('./partials/footer') %>